doctype html
head
  title 500 Our Fault | Exceptional Dev

  meta(charset="UTF-8")
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

  link(rel="stylesheet", href="css/errors.min.css")

  // Global site tag (gtag.js) - Google Analytics
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-145153372-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-145153372-1');
body(style='background: #ed8536')
  .container.pt-5
    .row
      .col-12
        img.img-error.mb-4(src='img/mug.png' alt='500 - server error')
        h4.text-center Oops! You broke something
        p.col-10.offset-1
          | This mug was a family heirloom. Of your neighbor. Your neighbor always loved the
          | color, shape, and quantity of coffee held by this mug. But your neighbor moved out and
          | left it on their porch, no explanation, no repair materials, no nothing. So you have
          | this broken mug.

  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
