doctype html
head
  include ../_admin_partials/head

  link(rel="stylesheet", href="/css/admin.min.css")
body
  include ../_admin_partials/navbar

  #messageDetailsModal.modal.fade(data-keyboard='true', tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
      .modal-content
        .modal-header
          h5.modal-title#message-sender-name
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .clearfix.mb-3
            span.badge.badge-dark#message-sender-email.float-right
            span.badge.badge-warning#message-date.float-left
          p#message-text
        .modal-footer
          button.btn.btn-secondary.mr-auto(type='button', data-dismiss='modal') Close
          button.btn.btn-danger.btn-delete-message(type='button') Delete
          button.btn.btn-info.btn-reply-message(type='button') Reply


  .container
    .row
      .col-12.table-container.table-responsive
        table.table.table-striped.messages-table
          thead
            tr
              th(scope='col') New
              th(scope='col') Name
              th(scope='col') Message
              th(scope='col') Email
              th(scope='col') Date
          tbody

  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin='anonymous')
  script(src="/js/admin-messages.js")
