{
  "tabs": 2,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "proseWrap": "always",
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto"
}
