doctype html
head
  title 404 Not Found | IOException Team - Developers

  meta(charset="UTF-8")
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

  link(rel="stylesheet", href="css/errors.min.css")
body(style='')
  #particlesJS
  .container
    .row
      .col-12
        img.img-error(src='img/spaceman.png' alt='404 - not found')
        h4.text-center You've lost in space
        p.col-10.offset-1
          | You thought this mission to the moon would be a quick six month thing. Your
          | neighbor offered to look after your dog. Your high school math teacher was impressed.
          | He once said you wouldn’t amount to anything.You sure showed him. But now here you
          | are, fifty feet from your spaceship with no way to get back. Your dog will be so sad.
          | Your math teacher will be so smug. Pretty devastating.

  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src='js/main.min.js')
