doctype html
head
    title 404 Not Found | IOException Team - Developers

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel="stylesheet", href="css/404.css")
body
    .box
        .box__ghost
            .symbol
            .symbol
            .symbol
            .symbol
            .symbol
            .symbol
            .box__ghost-container
                .box__ghost-eyes
                    .box__eye-left
                    .box__eye-right
                .box__ghost-bottom
                    div
                    div
                    div
                    div
                    div
            .box__ghost-shadow
        .box__description
            .box__description-container
                .box__description-title Whoops!
                .box__description-text It seems like we couldn't find the page you were looking for
            a.box__button(href='javascript:history.back()', target='_blank') Go back

    script(src="js/jquery-3.3.1.min.js")
    script(src="js/404.js")