doctype html
head
    title 500 Internal Server Error | IOException Team - Developers

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel="stylesheet", href="css/500.css")
body
    button.error-code
        .number.five
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.empty
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.empty
            .cell.empty
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.empty
            .cell.filled
                .bug
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
        .number.zero
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.filled
                .bug
            .cell.empty
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.empty
            .cell.filled
                .bug
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
        .number.zero
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.filled
                .bug
            .cell.empty
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty
            .cell.empty
            .cell.filled
                .bug
            .cell.empty
            .cell.filled
                .bug
            .cell.filled
                .bug
            .cell.empty


    //script(src="js/jquery-3.3.1.min.js")
    //script(src="js/404.js")