doctype html
head
  title 500 Our Fault | IOException Team - Developers

  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/bootstrap.min.css")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

  link(rel="stylesheet", href="css/errors.css")
body(style='background: #ed8536')
  .container.pt-5
    .row
      col-12
        img.img-error.mb-4(src='thumbs/mug.png' alt='500 - server error')
        h4.text-center Oops! You broke something
        p.col-10.offset-1
          | This mug was a family heirloom. Of your neighbor. Your neighbor always loved the
          | color, shape, and quantity of coffee held by this mug. But your neighbor moved out and
          | left it on their porch, no explanation, no repair materials, no nothing. So you have
          | this broken mug.

  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src='js/main.js')
