doctype html
head
  include _admin_partials/head

  link(rel="stylesheet", href="css/admin.min.css")
body(style='')
  include _admin_partials/navbar

  .container-fluid.px-0
    .row.no-gutters
      .col-3
        ul.messages-list.list-unstyled.m-0
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2.open
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com
          li.message-item.d-flex.flex-row.flex-wrap.px-3.py-2
            span.read-status-indicator
            .d-flex.flex-column.mr-3
              span.sender-name Amir Hosein
              span.sender-email.text-secondary.small ahosein.salimi@gmail.com

      .col-9.px-5
        .message-section
          .message-bubble.d-flex.flex-column.w-100.p-4
            .clearfix
              span.name.font-weight-bold.float-left Amir Hosein
              span.date.fs-12.text-light.float-right 19, Feb 1997 - 14:40
            span.email.fs-14.mb-3.text-light ahosein.salimi@gmail.com
            p.message-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam beatae, culpa debitis deleniti ex id inventore itaque molestiae nihil officia pariatur perferendis quaerat quisquam quos recusandae, sapiente sunt ut.

    nav.button-share-container
      a.buttons(target='_blank' tooltip='Reply to Sender')
        i.material-icons reply
      a.buttons(target='_blank' tooltip='Delete message')
        i.material-icons delete
      a.buttons(href='#' onclick='return false;')
        span.buttons
          span.rotate




  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
