doctype html
head
  title Catty Page!

  meta(charset="UTF-8")
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

  link(rel="stylesheet", href="css/catty.min.css")

  // Global site tag (gtag.js) - Google Analytics
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-145153372-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-145153372-1');
body(style='')
  #particlesJS
  .container-fluid.p-0
    .row.no-gutters.h-100
      .col-lg-8.d-none.d-lg-block
      .col-12.col-lg-4.form-container
        a.pt-3(href='/#home')
          img.d-block.mx-auto(src='icons/ioex.svg' alt='IOException Logo')
        form.d-flex.justify-content-center.align-items-center.flex-column.pb-5.my-auto(action='/catty'
          method='POST' autocomplete='off')
          div.md2-input.d-inline-flex.justify-content-center.align-items-center.flex-column.position-relative.mb-ioex.svg
            label.mb-3
              input.px-4(type='text' name='user' required='required' autocomplete='off')
              span.px-2.position-absolute User

          div.md2-input.d-inline-flex.justify-content-center.align-items-center.flex-column.position-relative.mb-2
            label
              input.px-4(type='password' name='password' required='required' autocomplete='off')
              span.px-2.position-absolute Password

          button.btn.btn-secondary.btn-submit(type='submit') Login

        div.pb-3
          span.d-block.text-center.copyright-logo Copyright © 2019


  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src='js/main.min.js')
