doctype html
html(lang='en-US')
  head
    include _partials/metas-and-styles.pug

  body.scrollbar#style-3
    include _partials/header.pug

    #particlesJS
    .container-fluid.loader-container
      .container
        .row.no-gutters.align-items-center(style="height: 400px;")
          .col-12.d-flex.justify-content-center
            .a(style='--n: 5;')
              .dot(style='--i: 0;').mx-2
              .dot(style='--i: 1;').mx-2
              .dot(style='--i: 2;').mx-2
              .dot(style='--i: 3;').mx-2
              .dot(style='--i: 4;').mx-2


    .container-fluid.main-container.d-none.pb-5
      .container.home-container
        .row.no-gutters
          .col-12
            h1.io-exception-header.text-web IOException

        .row.no-gutters
          .col-12
            h4: small.text-muted catch the exception!

        .row.no-gutters.main-content
          .col-12.col-lg-7
            p.text-justify.text-light-gray.team-description.mb-5.mb-sm-2
              | The web is an essential part of every successful product nowadays. Our web division, having enthusiastic developers, provides you each website and web application you want with exemplary quality. We use high-demand frameworks and the latest technologies as our main tool to bring this achievement. Our specialty in front-end and back-end JavaScript frameworks gives us the ability to build robust full-stack web apps with an astonishing performance. Long story short, we do our best to always be on the edge of the web development world.

        .row.d-flex.justify-content-center.motto-box
          .col-10.col-sm-10.d-md-flex.flex-column.justify-content-center.d-lg-block.position-relative
            span
              i.fas.fa-chevron-circle-left.position-absolute.left-arrow.text-white(style="width: 22px; height: 22px; top: 30%; left: -20px;")
            span
              i.fas.fa-chevron-circle-right.position-absolute.right-arrow.text-white(style="width: 22px; height: 22px; top: 30%; right: -20px;")

            .d-flex.flex-row-reverse.justify-content-end.header.align-items-center
              h5.text-web.team-name Web development
              img.mr-3.team-icon(src='thumbs/web.svg' alt='Sample Icon')

            .progress.mb-3
              .progress-bar.bg-web#dynamic(role='progressbar', aria-valuemin='0', aria-valuemax='100')

            p.text-web.team-motto
              | Always deliver more than expected


      .container.contact-container.d-none
        h1.text-light-gray.weight-400 Contact
        .row
          .col-12.col-lg-6
            form.contact-form(autocomplete="off" method="POST" action="/contact-message")
              .form-group.col-12.col-lg-6
                label.text-white(for='name')
                input#name.form-control(type='text', placeholder='Name' required="required" name='name')
              .form-group.col-12.col-lg-8
                label.text-white(for='email')
                input#email.form-control(type='email', placeholder='Email' required="required" name="email")
              .form-group.col-12.col-lg-12.mb-3
                label(for='message')
                textarea#message.form-control(rows='5' placeholder="Message" required="required" name="message")
              .d-flex.justify-content-start.flex-row-reverse
                button.btn.btn-primary(type='submit') Send
                a.mr-4#discardForm Discard


      .container.meet-team-container.d-none
        h1.text-light-gray.mb-5.weight-400 Meet the Team!
        .row.no-gutters.justify-content-center
          .col-12.col-sm-12.d-flex.row.wrap.justify-content-sm-center.members


      .container.justify-content-center.align-content-center.mobile-menu.d-none
        ul.list-unstyled.text-light-gray.d-flex.flex-column.align-content-center.justify-content-center
          li.text-center.home-link.active(style="font-size: 35px"): a.no-text-decoration Home
          li.text-center.meet-team-link(style="font-size: 35px"): a.no-text-decoration
            | Meet the Team!
          li.text-center.contact-link(style="font-size: 35px"): a.no-text-decoration Contact
          li.text-center(style="font-size: 35px")
            a.no-text-decoration.btn.btn-primary.btn-download(href='/download-app') Download app

    include _partials/scripts
