/*****************************
*      Utility classes
*****************************/
.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

.blue-border {
  border: 1px solid blue;
}

.text-light-gray {
  color: #e5e5e5;
}

.text-dark-gray {
  color: #707070;
}

.text-white {
  color: #f1f1f1;
}

.text-web, .team-1 {
  color: #f0db4f;
}

.bg-web {
  background-color: #f0db4f;
}

.text-app, .team-2 {
  color: #4ff05f;
}

.bg-app {
  background-color: #4ff05f;
}

.text-game, .team-3 {
  color: #f04f4f;
}

.bg-game {
  background-color: #f04f4f;
}

.text-server, .team-4 {
  color: #4f8af0;
}

.bg-server {
  background-color: #4f8af0;
}

.text-light-gray {
  color: #f1f1f1;
}

a.no-text-decoration {
  text-decoration: none;
}
a.no-text-decoration:hover {
  text-decoration: none;
}

/*****************************
*          General
*****************************/
body {
  font-family: sans-serif;
  color: tomato;
  width: 100vw;
  height: 100vh;
  background: #000;
}

.text-decoration-none {
  text-decoration: none;
}

/*****************************
*           Navbar
*****************************/
.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
  height: 80px;
  z-index: 1001;
}
.navbar a.navbar-brand {
  color: #fff !important;
}
.navbar a.nav-link {
  padding: 10px 20px !important;
  margin: 0 10px;
  transition: color 0.2s;
}
.navbar a.nav-link:hover {
  color: #e5e5e5 !important;
}
.navbar .nav-item.active a {
  color: #e5e5e5 !important;
}

.mobile-menu-indicator {
  position: fixed;
  right: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: column wrap;
  cursor: pointer;
  z-index: 1001;
}

hr {
  border: 1px solid #e5e5e5;
  border-radius: 14px;
  width: 80%;
  float: left;
  background-color: #e5e5e5;
  height: 1px;
  margin: 0;
}

hr:nth-child(1),
hr:nth-child(3) {
  position: absolute;
  -webkit-transition: transform 0.5s, width 0.5s, position 0.5s;
  -moz-transition: transform 0.5s, width 0.5s, position 0.5s;
  -o-transition: transform 0.5s, width 0.5s, position 0.5s;
  transition: transform 0.5s, width 0.5s, position 0.5s;
}

hr:nth-child(2) {
  position: absolute;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
}

hr:nth-child(1) {
  top: 15px;
  right: 0;
}

hr:nth-child(2) {
  top: 25px;
  right: 10%;
  width: 60%;
}

hr:nth-child(3) {
  top: 35px;
  right: 0;
}

/*****************************
*           Main
*****************************/
object {
  width: 30px;
  height: 30px;
}

.progress {
  margin: 10px;
  height: 3px;
}
/*****************************
*       Contact form
*****************************/
.contact-form .form-group.col-12 {
  padding: 0;
  margin-bottom: -15px;
}
.contact-form .form-group .form-control {
  background: rgba(40, 40, 40, 0.7);
  color: #f1f1f1;
  border: 0;
}
.contact-form .form-group .form-control:focus {
  border-color: #f1f1f1;
  outline: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
}
.contact-form .form-group textarea {
  resize: none;
}
.contact-form .btn.btn-primary {
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  background: #707070;
}
.contact-form a {
  text-decoration: none;
  position: relative;
  top: 5px;
  color: #e5e5e5;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 70px;
  height: calc(100vh);
  z-index: 1000;
  background: #000;
}
.mobile-menu ul {
  margin-top: 40%;
}
.mobile-menu ul li.active a {
  color: #e5e5e5;
}
.mobile-menu ul li a {
  color: #707070;
  transition: color 0.2s;
}
.mobile-menu ul li a:hover {
  color: #e5e5e5;
}

/*# sourceMappingURL=main.css.map */
