nav.navbar.navbar-light
  a.navbar-brand#navbarDropdownMenuLink.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    img(src='/icons/three-dots-vertical.svg' alt='Menu' width="20" height="20" title="Menu")
    .dropdown-menu(aria-labelledby='navbarDropdown')
      a.dropdown-item(href='/admin/messages/') Messages
      .dropdown-divider
      a.dropdown-item(href='/admin/members/') Members
      .dropdown-divider
      a.dropdown-item(href='/admin/teams/') Teams
