nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.p-0
  a.navbar-brand.drawer-toggler.p-2.px-3.m-0
    span.position-relative
      i.material-icons.drawer-btn menu

  a.navbar-brand.p-2.px-3.m-0.ml-auto
    span.position-relative
      i.material-icons apps
