nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.p-0
  a.navbar-brand.drawer-toggler.p-2.px-3.m-0
    span.position-relative
      img(src='/icons/three-dots-vertical.svg' alt='Menu' width="20" height="20" title="Menu" class='position-relative'
        style='bottom: 6px;')
