@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import 'variables';
@import 'helpers';
@import 'typography';

/*****************************
*          General           *
*****************************/
body {
  height: calc(100vh - 56px);
  overflow-y: auto;

  & > .container {
    margin-top: 56px;
  }
}

* {
  font-family: Roboto, sans-serif;
}


/****************************
*          Navbar           *
****************************/
.navbar {
  background: $admin-primary-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  a.navbar-brand {
    &:hover,
    &:focus {
      background: #186eb2;
    }

    span {
      top: 3px;

      i {
        height: 100%;
      }
    }
  }
}

/****************************
*          Table            *
****************************/
.table-container {
  td.message {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


/****************************
*          Table            *
****************************/
.add-new-member,
.add-new-team {
  border: 3px dashed #999;
  padding: 0;
  cursor: pointer;

  &:hover {
    font-weight: bold;
    border: 3px dashed #666;
  }

  &::before {
    content: '+';
    color: #999;
    font-size: 30px;
  }

  &:hover::before {
    color: #666;
  }
}
