doctype html
head
    include _partials/metas-and-styles.pug

body
    include _partials/header.pug

    .container-fluid
        .container
            .row.no-gutters
                .col-12
                    h1.text-web IOException
            .row.no-gutters
                .col-12
                    h4: small.text-muted catch the exception!
            .row.no-gutters.mb-4
                .col-12.col-lg-7
                    p.text-justify.text-light-gray.team-description
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quod praesentium reiciendis tempore numquam accusamus aliquid, quasi quisquam voluptate sequi nostrum quas dignissimos voluptas excepturi beatae enim mollitia animi facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odio numquam perspiciatis, nemo, quasi vel quidem, sit beatae molestias laborum neque distinctio nihil. Culpa reiciendis commodi nostrum et cupiditate in. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste nostrum omnis voluptates odit iure natus sint! Debitis blanditiis adipisci excepturi animi totam sint esse, cumque exercitationem dignissimos, quibusdam ipsa nostrum.
            .row.no-gutters
                .col-12.col-lg-4.offset-lg-7
                    div.d-flex.flex-row-reverse.justify-content-end
                        h5.text-web.team-name Web development
                        object.mr-3(data='thumbs/web.svg', type='image/svg+xml')
                    .progress.mb-3
                        .progress-bar.bg-web#dynamic(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')

                    p.text-web.team-motto
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, doloremque.

                    


    include _partials/scripts