doctype html
head
    include partials/metas-and-styles.pug

body
    .container
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, velit! Consectetur, ipsam cumque dolorum vero voluptas nihil delectus ipsa adipisci rem corrupti molestiae sequi fugit alias quaerat? Repudiandae, fugit error!    

