nav.navbar.navbar-expand-sm.navbar-light.bg-light.d-flex
  a.navbar-brand: img(src="icons/ex.svg" alt="Exception logo")
  .mobile-menu-indicator.d-sm-none
      hr
      hr
      hr

  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active.home-link
        a.nav-link(style="color: #707070") Home
          span.sr-only (current)
      li.nav-item.meet-team-link
        a.nav-link(style="color: #707070") Meet the Team
      li.nav-item.contact-link
        a.nav-link(style="color: #707070") Contact
