nav.navbar.navbar-expand-sm.navbar-light.bg-light.d-flex
  a.navbar-brand(href='#'): img(src="thumbs/ioex.svg" alt="IOException logo")
  .mobile-menu-indicator.d-sm-none
      hr
      hr
      hr

  span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active.home-link
        a.btn.btn-primary.btn-download(href='#') Download app
      li.nav-item.active.home-link
        a.nav-link(href='#' style="color: #707070") Home
          span.sr-only (current)
      li.nav-item.contact-link
        a.nav-link(href="#" style="color: #707070") Contact
