nav.navbar.navbar-expand-sm.navbar-light.bg-light.d-flex
  a.text-bold.navbar-brand.text-dark-gray(href='#') IOEX
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link.text-light-gray(href='#') Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link.text-dark-gray(href='#') Projects
      li.nav-item
        a.nav-link.text-dark-gray(href='#') Contact
