title Exception Team - Exceptional Developers

meta(name='title', content='Exception Team - Exceptional Developers')
meta(charset='UTF-8')

meta(name='description', content='Exceptional Developers - Freelancer Team: Android, Web, Service and more')
meta(name='keywords', content='developer, app, programming, android, web, startup, service, freelance, code, iran, javascript')
meta(name='robots', content='index, follow')
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='language', content='English')
meta(name="theme-color" content="#e5e5e5")

meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=IM+Fell+Double+Pica+SC&display=swap')


link(rel='stylesheet', href='css/main.min.css')

// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-145153372-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-145153372-1');
