meta(name='title', content='IOException Team - Developers')
meta(charset="UTF-8")

meta(name='description', content='IOException Developers - Android, Web, Service and more')
meta(name='keywords', content='developer, app, programming, android, web, startup, service, freelance, code, iran, javascript')
meta(name='robots', content='index, follow')
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='language', content='English')

meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

link(rel="stylesheet", href="css/bootstrap.min.css")
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")

link(rel="stylesheet", href="css/main.css")

