script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
script.
    !window.jQuery && (function() { console.log("jQuery CDN isn't available"); document.write('<script src="js/jquery-3.3.1.min.js"><\/script>')}())
script(src='js/bootstrap.bundle.min.js')
script(src='js/script.js')