script(src="https://code.jquery.com/jquery-3.4.1.min.js")
script(src='js/main.js' async='async')

// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-145153372-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-145153372-1');
