script(src="https://code.jquery.com/jquery-3.4.1.min.js")
script.
  !window.jQuery && (function () {
    console.log("jQuery CDN isn't available");
    document.write('<script src="js/jquery.min.js"><\/script>')
  }());
script(src='js/bootstrap.bundle.min.js')
script(src='js/particles-core.min.js')
script(src='js/particles.min.js' async='async')
script(src='js/script.min.js' async='async')