nav.navbar.navbar-light
  a.navbar-brand#navbarDropdownMenuLink.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    img(src='/icons/three-dots-vertical.svg' alt='Menu' width="20" height="20" title="Menu")
    .dropdown-menu(aria-labelledby='navbarDropdown')
      a.dropdown-item(href='/admin/messages/') Messages
      .dropdown-divider
      a.dropdown-item(href='/admin/members/') Members
      .dropdown-divider
      a.dropdown-item(href='/admin/teams/') Teams
      .dropdown-divider
      a.dropdown-item(class='btn-logout') Logout

script.
  document.querySelectorAll('.btn-logout')[0].addEventListener('click', async () => {
    try {
      await fetch('/admin/logout', {
        method: 'POST',
      });

      location.href = '/admin'
    } catch (e) {
      console.log(e);
    }
  });
