//- Add some meta tags later
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

link(rel="stylesheet", href="css/bootstrap.min.css")
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")

link(rel="stylesheet", href="css/main.css")
