title Exception Team - Exceptional Developers

meta(name='title', content='Exception Team - Exceptional Developers')
meta(charset='UTF-8')

meta(name='description', content='Exceptional Developers - Freelancer Team: Android, Web, Service and more')
meta(name='keywords', content='developer, app, programming, android, web, startup, service, freelance, code, iran, javascript')
meta(name='robots', content='index, follow')
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='language', content='English')
meta(name="theme-color", content="#e5e5e5")

meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css')


link(rel='stylesheet', href='/css/main.min.css')

// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-145153372-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-145153372-1');
