@import 'variables';

/*****************************
*      Utility classes
*****************************/
img:not([alt]), img[alt=""] {
  border: 1px solid red;
}

.red-border {
  border: 1px solid red;
}

.blue-border {
  border: 1px solid blue;
}

.green-border {
  border: 1px solid green;
}

.d-hidden {
  visibility: hidden;
}
