@import 'variables';

.text-light-gray {
  color: $light-gray;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-white {
  color: $white;
}

.text-web, .team-1 {
  color: $web-team-color;
}

.bg-web {
  background-color: $web-team-color;
}

.text-app, .team-2 {
  color: $app-team-color;
}

.bg-app {
  background-color: $app-team-color;
}

.text-game, .team-3 {
  color: $game-team-color;
}

.bg-game {
  background-color: $game-team-color;
}

.text-server, .team-4 {
  color: $server-team-color;
}

.bg-server {
  background-color: $server-team-color;
}

.text-light-gray {
  color: $white;
}

a.no-text-decoration {
  text-decoration: none;

  &:hover {
    text-decoration: none;
}
}

a {
  cursor: pointer;
}


/* Font weights */
.weight-400 {
  font-weight: 400;
}

.weight-400i {
  font-weight: 400;
  font-style: italic;
}

.weight-600 {
  font-weight: 400;
}

.weight-600i {
  font-weight: 400;
  font-style: italic;
}


/* Font sizes */
.fs-10 {
  font-size: 0.625rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-18 {
  font-size: 1.125px;
}
