$light-gray: #e5e5e5;
$dark-gray: #707070;
$transparent-gary: rgba(40, 40, 40, 0.7);
$white: #f1f1f1;
$transparent: rgba(0, 0, 0, 0);

$web-team-color: #f0db4f;
$app-team-color: #4ff05f;
$game-team-color: #f04f4f;
$server-team-color: #4f8af0;