$primary-dark: #1e1e1e;
$primary: #848383;
$primary-light: #b8b8b8;
$primary-lighter: #e5e5e5;
$accent: #cecece;
$white: #f2f2f2;

$light-gray: #e5e5e5;
$dark-gray: #707070;
$transparent-gary: rgba(40, 40, 40, 0.2);
$white: #fff;
$transparent: rgba(0, 0, 0, 0);

$web-team-color: #f0db4f;
$app-team-color: #a4c639;
$game-team-color: #f04f4f;
$server-team-color: #777bb3;

/* Admin Panel */
$admin-primary-color: #2196F3;