$light-gray: #e5e5e5;
$dark-gray: #707070;
$transparent-gary: rgba(40, 40, 40, 0.2);
$white: #fff;
$transparent: rgba(0, 0, 0, 0);

$web-team-color: #f0db4f;
$app-team-color: #a4c639;
$game-team-color: #f04f4f;
$server-team-color: #777bb3;

/* Admin Panel */
$admin-primary-color: #2196F3;