@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import 'variables';
@import 'helpers';
@import 'typography';
@import 'animations';
@import 'fab';

/*****************************
*          General           *
*****************************/
body {
  height: calc(100vh - 56px);
  overflow-y: auto;
}


/****************************
*          Navbar           *
****************************/
.navbar {
  background: $admin-primary-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  a.navbar-brand {
    &:hover,
    &:focus {
      background: #186eb2;
    }

    span {
      top: 3px;

      i {
        height: 100%;
      }

    }

  }


}


.container-fluid {
  padding-top: 48px;
}

ul.messages-list {
  height: calc(100vh - 56px);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 1px 0 5px 1px #ddd;

  li.message-item {
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    cursor: pointer;
    transition: background-color 0.5s, margin-left 0.5s;

    &:hover {
      background: #fff;
      margin-left: 6px;
    }

    &.open {
      background: #fff;
      cursor: default;
      margin-left: 6px;
    }

    .read-status-indicator {
      width: 30px;
      height: 30px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-content: flex-start;

      span {
        display: block;
        width: 12px;
        height: 12px;
        background: #0091EA;
        border-radius: 50%;
      }
    }

    span[class^='sender'] {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span.sender-name {
      width: 175px;

      @media (max-width: 1200px) {
        width: 120px;
      }
    }

  }

}

.col-9 {
  height: calc(100vh - 56px);
  overflow-y: auto;
  background: #E1F5FE;
}

.message-section {
  margin-top: 40px;

  .message-bubble {
    background: #0091EA;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

}
